.bgsection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.main-structure{

}

@media screen and (max-width: 480px) {
    .bgsection img{
        /* height: 100%;
        object-fit: cover; */
    }
}