.C4Grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: .5rem 1rem 1rem;
}

/* PREVENT GRID ITEM OVERFLOW */
/* https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items */

.C4Grid > div{
    padding: 1rem;
    min-width: 0;
    min-height: 0;
    /* margin: .5rem;
    border: 2px solid rgba(189, 244, 247, 0);
    border-radius: 15px;
    transition: .5s; */
}

.C4Grid > div:hover{
    /* border: 2px solid rgb(189, 244, 247); */

}

.C4Grid p{
    margin: 0;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

.description{
    font-size: .75rem;
    position: absolute;
    bottom: .5rem;
    text-align: center;
    width: 100px;
    line-height: .75rem;
}

.metric{
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}


.metric span{
    font-size: 2rem;
}






.lightPanel{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #F9F2ED;
}

.darkPanel{
    /* margin: 1rem; */
    border-radius: 10px;
    background: rgba(50, 50, 50, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-color: black;
    border: 1px solid #7d7d7d;
}

@media screen and (max-width: 1000px) {
    .C4Grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}