.glanceables{
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0 auto;

    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.schedule{
    text-align: center;
    margin: 0;
}

.schedule span{
    font-size: 2rem;
}

.weather{
    display: flex;
    align-items: center;
    text-align: center;
}

.weather span{
    font-size: 2rem;
}

.weather img{
    height: 4rem;
    margin-bottom: 1rem;
}

.additionals{
    text-align: center;
    /* font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1rem;
     */
}


.additionals p{
    /* line-height: 2rem; */
}


.additionals span{
    font-size: 2rem;
    line-height: 2rem;
}

@media screen and (max-width: 480px) {
    .glanceables{
        justify-content: center;
        gap: 0;
    }

    .weather img{
        height: 5rem;
    }

    .additionals{
        display: none;
    }
}