.glanceables{
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.precipitation{
    text-align: center;
    margin: 0;
    flex: 1;
    line-height: 1rem;
}

.precipitation span{
    font-size: 2rem;
    line-height: normal;
}

.schedule{
    text-align: center;
    margin: 0;
    flex: 1;
}

.schedule span{
    font-size: 2rem;
    line-height: normal;
}

.schedule p{
    line-height: 1rem;
}

.weatherSpan, .weatherIcon{
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
}

.weatherDesc{
    line-height: 1rem;
}

.weatherDesc span{
    line-height: normal;
}

.weatherSpan span{
    font-size: 2rem;
}

.weatherIcon img{
    display: block;
    margin: 0 auto 0.5rem;
    height: 5rem;
    /* margin-bottom: 1rem; */
}

.additionals{
    text-align: center;
    /* font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 1rem;
     */
}


.additionals span{
    font-size: 2rem;
    line-height: 2rem;
}

@media screen and (max-width: 480px) {
    .glanceables{
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .weatherIcon img{
        height: 100%;
        width: 100%;
        margin-bottom: 0;
    }

    .precipitation, .additionals{
        display: none;
    }
}