
.headerWrapper{
    margin: 2rem 1rem .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

/* .glanceables{
    font-size: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin-left: 1rem;
} */

.responsiveWrapper{
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 60% 40%; */
}

.mainContent{
    width: 60%;
}

.sideContent{
    width: 40%;
}

.avatar{
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 50%;
}

.sidebar{
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .responsiveWrapper{
        flex-direction: column;
    }

    .mainContent, .sideContent{
        width: 100%;
    }
}