.logo{
    width: 80px;
}

.logoTitle{
    font-size: 2rem;
    font-weight: 600;
}

.avatar{
    display: block;
    margin: auto;
    width: 40%;
    border-radius: 50%;
}

.sidebar{
    margin-top: 2rem;
    text-align: center;
}

.username{
    font-size: 2rem;
}


.bottom{
    position: absolute;
    bottom: 2rem;
    text-align: center;
    width: calc(100% - 2rem);
}

.logoutBtn{
    width: 50%;
    margin: 1rem auto;
}

@media screen and (max-width: 480px) {
    .logo{
        margin-top: 1rem;
    }

    .username{
        font-size: 3rem;
    }
}