.lightPanel{
    border-radius: 10px;
    padding: 1rem 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #F9F2ED;
}

.darkPanel{
    border-radius: 10px;
    padding: 1rem 1rem;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #7d7d7d;
}

.title{
    margin: .5rem 0;
}