.lightPanel{
    margin: 1rem;
    border-radius: 10px;
    padding: 0 1rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #F9F2ED;
}

.darkPanel{
    margin: 1rem;
    border-radius: 10px;
    padding: 0 1rem;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-color: black;
    border: 1px solid #7d7d7d;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
    cursor: pointer;
}

.title h3, .title strong{
    margin: 0;
}
.taskGrid{
    margin-bottom: 1rem;
}
